a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
ul li {
  color: #0d6efdff;
  display: flex;
}
ul li a {
  background-color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
  border-right: 0;
}
ul li.active a {
  background-color: #a0b87a;
}
ul li:first-child a {
  border-radius: 5px 0 0 5px;
}
