@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");

* {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: newYorkFont;
  src: url(assets/Chomsky.woff);
}

.page-title {
  font-family: newYorkFont;
  font-size: 2.7rem;
  border-bottom: 1px solid #ffc107;
  margin: 1rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.date,
.byline,
.btn {
  font-family: "Spinnaker", sans-serif;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.arrows,
.disabled {
  pointer-events: none;
}

.pagination > li > a {
  background-color: white;
  color: #000;
}

.pagination > li > a:focus,
.pagination > li > a:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
  cursor: pointer;
}

.pagination > .active > a {
  color: white;
  background-color: #ffc107 !important;
  border: solid 1px #ffc107 !important;
}

.pagination > .active > a:hover {
  background-color: #ffc107 !important;
  border: solid 1px #ffc107;
}
