@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");

* {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

@font-face {
  font-family: newYorkFont;
  src: url(assets/Chomsky.woff);
}

#header {
  font-family: newYorkFont;
  font-size: 2.7rem;
  border-bottom: 1px solid rgb(13, 202, 240);
  margin: 1rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.description,
.date,
.byline,
.section,
a,
.btn {
  font-family: "Spinnaker", sans-serif;
  font-size: 1.1rem;
  margin-top: 1rem;
}

/* .render-html {
  border-bottom: 1px solid black;
  margin: 0 5vw 0 5vw;
} */

.pagination-container {
  display: inline-block;
}
